<% layout('../layout/layout')%>

<form action="/student/create" method="post">
  <h2>개인정보 입력</h2>

  <div class = "container1" align = "center">
   <h3>학번</h3>

  <input type="text" name="adm_year" placeholder="뒤의 연도 2자리만 입력해주세요">
   <h3>현재 학기</h3>
   <select name="semester">
    <option value="1">1학기</option>
    <option value="2">2학기</option>
    <option value="3">3학기</option>
    <option value="4">4학기</option>
    <option value="5">5학기</option>
    <option value="6">6학기</option>
    <option value="7">7학기</option>
    <option value="8">8학기</option>
    <option value="9">9학기</option>
    <option value="10">9학기초과</option>
   </select>
   
  <br>
  <h3>제1전공</h3>
  <select name="major1">
    <% for(var i = 0; i< major_list.length; i++) {%>
      <option value="<%= major_list[i] %>"><%= major_list[i] %></option>
    <% }; %>
  </select>
  <br>
  <h3>제2전공</h3>
  <select name="major2">
    <% for(var i = 0; i< minor_list.length; i++) {%>
      <option value="<%= minor_list[i] %>"><%= minor_list[i] %></option>
    <% }; %>
  </select>
  <br>
  <h3>제3전공</h3>
  <select name="major3">
    <% for(var i = 0; i< minor_list.length; i++) {%>
      <option value="<%= minor_list[i] %>"><%= minor_list[i] %></option>
    <% }; %>
  </select>
  <p>
    <input type="submit" value="저장">
  </p>
  </div>

</form>