<% layout('../layout/layout')%>

<a href='/'/a>돌아가기</a>
<!-- 학생이름 나열  -->

<ol>
  <% for(var i = 0; i< students.length; i++){%> 
    <li>
      <a href='/student/show/<%= students[i].id %>'>
        <%= students[i].st_name %>
      </a>
    </li>
  <% }; %>
</ol>

<article>
  <% if(student){ %> 
    <h2>학생정보</h2>
    <p>이름 : <%= student.st_name %></p>  
    <p>학번 : <%= student.adm_year %> </p>
    <p>학기 : <%= student.semester%></p>
    <p>1전공 : <%= student.major1%></p>
    <p>2전공 : <%= student.major2%></p>
    <p>3전공 : <%= student.major3%></p>
    <a href="/student/update/<%=student.id%>">수정하기</a>
    <a href="/student/delete/<%=student.id%>">삭제하기</a>
  <% } else { %>
  <% } %>
</article>