
<% layout('../layout/layout')%>

<div class="wrap">
  
  <!-- <h2><%=student.major1%> 전공을 가진 <%=student.semester%>학기 학생의 추천 시간표입니다.</h2> -->
  <div class="text-center">
    <%if(student.major2){%>
      <p><%=student.major1%>과 <%=student.major2%>을(를) 전공하는</p>
    <% } else { %>
      <p><%=student.major1%>을(를) 전공하는</p>
    <% } %>
      <p><%=student.semester%>학기 학생의</p>
      <p>추천 시간표입니다.</p>
  </div>

  <!-- 시간표 1 : 중간값-->
  <form action="/student/<%=student.id%>/recomm/second" method="post">
    <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col-0">월</th>
            <th scope="col-1">화</th>
            <th scope="col-2">수</th>
            <th scope="col-3">목</th>
            <th scope="col-4">금</th>
          </tr>
        </thead>
        <tbody id="tt-median">
          <tr class="row-0">
            <th scope="row-0">1교시</th>
            <td class="0-0"></td>
            <td class="0-1"></td>
            <td class="0-2"></td>
            <td class="0-3"></td>
            <td class="0-4"></td>
          </tr>
          <tr class="row-1">
            <th scope="row">2교시</th>
            <td class="1-0"></td>
            <td class="1-1"></td>
            <td class="1-2"></td>
            <td class="1-3"></td>
            <td class="1-4"></td>
          </tr>
          <tr class="row-2">
            <th scope="row">3교시</th>
            <td class="2-0"></td>
            <td class="2-1"></td>
            <td class="2-2"></td>
            <td class="2-3"></td>
            <td class="2-4"></td>
          </tr>
          <tr class="row-3">
            <th scope="row">4교시</th>
            <td class="3-0"></td>
            <td class="3-1"></td>
            <td class="3-2"></td>
            <td class="3-3"></td>
            <td class="3-4"></td>
          </tr>
          <tr class="row-4">
            <th scope="row">5교시</th>
            <td class="4-0"></td>
            <td class="4-1"></td>
            <td class="4-2"></td>
            <td class="4-3"></td>
            <td class="4-4"></td>
          </tr>
          <tr class="row-5">
            <th scope="row">6교시</th>
            <td class="5-0"></td>
            <td class="5-1"></td>
            <td class="5-2"></td>
            <td class="5-3"></td>
            <td class="5-4"></td>
          </tr>
        </tbody>
    </table>
    <input type="hidden" name="selected" value="1">
    <input type="submit" class="timetable-select" value="선택하기">
  </form>
  <!-- // 시간표 1 -->
  
  <!-- 시간표 2 : 오전대-->
  <form action="/student/<%=student.id%>/recomm/second" method="post">
    <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col-0">월</th>
            <th scope="col-1">화</th>
            <th scope="col-2">수</th>
            <th scope="col-3">목</th>
            <th scope="col-4">금</th>
          </tr>
        </thead>
        <tbody id="tt-am">
          <tr class="row-0">
            <th scope="row-0">1교시</th>
            <td class="0-0"></td>
            <td class="0-1"></td>
            <td class="0-2"></td>
            <td class="0-3"></td>
            <td class="0-4"></td>
          </tr>
          <tr class="row-1">
            <th scope="row">2교시</th>
            <td class="1-0"></td>
            <td class="1-1"></td>
            <td class="1-2"></td>
            <td class="1-3"></td>
            <td class="1-4"></td>
          </tr>
          <tr class="row-2">
            <th scope="row">3교시</th>
            <td class="2-0"></td>
            <td class="2-1"></td>
            <td class="2-2"></td>
            <td class="2-3"></td>
            <td class="2-4"></td>
          </tr>
          <tr class="row-3">
            <th scope="row">4교시</th>
            <td class="3-0"></td>
            <td class="3-1"></td>
            <td class="3-2"></td>
            <td class="3-3"></td>
            <td class="3-4"></td>
          </tr>
          <tr class="row-4">
            <th scope="row">5교시</th>
            <td class="4-0"></td>
            <td class="4-1"></td>
            <td class="4-2"></td>
            <td class="4-3"></td>
            <td class="4-4"></td>
          </tr>
          <tr class="row-5">
            <th scope="row">6교시</th>
            <td class="5-0"></td>
            <td class="5-1"></td>
            <td class="5-2"></td>
            <td class="5-3"></td>
            <td class="5-4"></td>
          </tr>
        </tbody>
    </table>
    <input type="hidden" name="selected" value="2">
    <input type="submit" class="timetable-select" value="선택하기">
  </form>
  <!-- // 시간표 2 -->

  <!-- 시간표 3 : 오후대-->
  <form action="/student/<%=student.id%>/recomm/second" method="post">
    <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col-0">월</th>
            <th scope="col-1">화</th>
            <th scope="col-2">수</th>
            <th scope="col-3">목</th>
            <th scope="col-4">금</th>
          </tr>
        </thead>
        <tbody id="tt-pm">
          <tr class="row-0">
            <th scope="row-0">1교시</th>
            <td class="0-0"></td>
            <td class="0-1"></td>
            <td class="0-2"></td>
            <td class="0-3"></td>
            <td class="0-4"></td>
          </tr>
          <tr class="row-1">
            <th scope="row">2교시</th>
            <td class="1-0"></td>
            <td class="1-1"></td>
            <td class="1-2"></td>
            <td class="1-3"></td>
            <td class="1-4"></td>
          </tr>
          <tr class="row-2">
            <th scope="row">3교시</th>
            <td class="2-0"></td>
            <td class="2-1"></td>
            <td class="2-2"></td>
            <td class="2-3"></td>
            <td class="2-4"></td>
          </tr>
          <tr class="row-3">
            <th scope="row">4교시</th>
            <td class="3-0"></td>
            <td class="3-1"></td>
            <td class="3-2"></td>
            <td class="3-3"></td>
            <td class="3-4"></td>
          </tr>
          <tr class="row-4">
            <th scope="row">5교시</th>
            <td class="4-0"></td>
            <td class="4-1"></td>
            <td class="4-2"></td>
            <td class="4-3"></td>
            <td class="4-4"></td>
          </tr>
          <tr class="row-5">
            <th scope="row">6교시</th>
            <td class="5-0"></td>
            <td class="5-1"></td>
            <td class="5-2"></td>
            <td class="5-3"></td>
            <td class="5-4"></td>
          </tr>
        </tbody>
    </table>
    <input type="hidden" name="selected" value="3">
    <input type="submit" class="timetable-select" value="선택하기">
  </form>
  <!-- // 시간표 3 -->
 
</div>


<script>
  $(document).ready(function(){

    var tt_matrix_median=<%-JSON.stringify(tt_matrix_median.matrix)%>;
    var tt_matrix_median_title=<%-JSON.stringify(tt_matrix_median.title_matrix)%>;
    for (i in tt_matrix_median){
      for (j in tt_matrix_median){
        if(tt_matrix_median[i][j]==1){
          $("#tt-median > tr > ."+i+"-"+j).css("background-color","#ef5757");
          $("#tt-median > tr > ."+i+"-"+j).html(tt_matrix_median_title[i][j]);
        }
      }
    }

    var tt_matrix_am=<%-JSON.stringify(tt_matrix_am.matrix)%>;
    var tt_matrix_am_title=<%-JSON.stringify(tt_matrix_am.title_matrix)%>;
    for (i in tt_matrix_am){
      for (j in tt_matrix_am){
        if(tt_matrix_am[i][j]==1){
          $("#tt-am > tr > ."+i+"-"+j).css("background-color","#ef5757");
          $("#tt-am > tr > ."+i+"-"+j).html(tt_matrix_am_title[i][j]);
        }
      }
    }

    var tt_matrix_pm=<%-JSON.stringify(tt_matrix_pm.matrix)%>;
    var tt_matrix_pm_title=<%-JSON.stringify(tt_matrix_pm.title_matrix)%>;
    for (i in tt_matrix_pm){
      for (j in tt_matrix_pm){
        if(tt_matrix_pm[i][j]==1){
          $("#tt-pm > tr > ."+i+"-"+j).css("background-color","#ef5757");
          $("#tt-pm > tr > ."+i+"-"+j).html(tt_matrix_pm_title[i][j]);
        }
      }
    }

  });
</script>