
<% layout('../layout/layout')%>

<div class="wrap">
  
  <!-- <h2><%=student.major1%> 전공을 가진 <%=student.semester%>학기 학생의 추천 시간표입니다.</h2> -->
  <div class="text-center">
    <%if(student.major2){%>
      <p><%=student.major1%>과 <%=student.major2%>을(를) 전공하는</p>
    <% } else { %>
      <p><%=student.major1%>을(를) 전공하는</p>
    <% } %>
      <p><%=student.semester%>학기 학생의</p>
      <p>추천 시간표입니다.</p>
  </div>

  <!-- 시간표 1 : 중간값-->
  <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col-0">월</th>
          <th scope="col-1">화</th>
          <th scope="col-2">수</th>
          <th scope="col-3">목</th>
          <th scope="col-4">금</th>
        </tr>
      </thead>
      <tbody id="tt-median">
        <tr class="row-0">
          <th scope="row-0">1교시</th>
          <td class="0"></td>
          <td class="1"></td>
          <td class="2"></td>
          <td class="3"></td>
          <td class="4"></td>
        </tr>
        <tr class="row-1">
          <th scope="row">2교시</th>
          <td class="5"></td>
          <td class="6"></td>
          <td class="7"></td>
          <td class="8"></td>
          <td class="9"></td>
        </tr>
        <tr class="row-2">
          <th scope="row">3교시</th>
          <td class="10"></td>
          <td class="11"></td>
          <td class="12"></td>
          <td class="13"></td>
          <td class="14"></td>
        </tr>
        <tr class="row-3">
          <th scope="row">4교시</th>
          <td class="15"></td>
          <td class="16"></td>
          <td class="17"></td>
          <td class="18"></td>
          <td class="19"></td>
        </tr>
        <tr class="row-4">
          <th scope="row">5교시</th>
          <td class="20"></td>
          <td class="21"></td>
          <td class="22"></td>
          <td class="23"></td>
          <td class="24"></td>
        </tr>
        <tr class="row-5">
          <th scope="row">6교시</th>
          <td class="25"></td>
          <td class="26"></td>
          <td class="27"></td>
          <td class="28"></td>
          <td class="29"></td>
        </tr>
      </tbody>
  </table>
  <button class="timetable-select">선택하기</button>
  <!-- // 시간표 1 -->
    <!-- 시간표 2 : 오전 편중-->
    <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col-0">월</th>
            <th scope="col-1">화</th>
            <th scope="col-2">수</th>
            <th scope="col-3">목</th>
            <th scope="col-4">금</th>
          </tr>
        </thead>
        <tbody id="tt-am">
          <tr class="row-0">
            <th scope="row-0">1교시</th>
            <td class="0"></td>
            <td class="1"></td>
            <td class="2"></td>
            <td class="3"></td>
            <td class="4"></td>
          </tr>
          <tr class="row-1">
            <th scope="row">2교시</th>
            <td class="5"></td>
            <td class="6"></td>
            <td class="7"></td>
            <td class="8"></td>
            <td class="9"></td>
          </tr>
          <tr class="row-2">
            <th scope="row">3교시</th>
            <td class="10"></td>
            <td class="11"></td>
            <td class="12"></td>
            <td class="13"></td>
            <td class="14"></td>
          </tr>
          <tr class="row-3">
            <th scope="row">4교시</th>
            <td class="15"></td>
            <td class="16"></td>
            <td class="17"></td>
            <td class="18"></td>
            <td class="19"></td>
          </tr>
          <tr class="row-4">
            <th scope="row">5교시</th>
            <td class="20"></td>
            <td class="21"></td>
            <td class="22"></td>
            <td class="23"></td>
            <td class="24"></td>
          </tr>
          <tr class="row-5">
            <th scope="row">6교시</th>
            <td class="25"></td>
            <td class="26"></td>
            <td class="27"></td>
            <td class="28"></td>
            <td class="29"></td>
          </tr>
        </tbody>
    </table>
    <button class="timetable-select">선택하기</button>
    <!-- // 시간표 2-->
      <!-- 시간표 3: 오후 편중 -->
  <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col-0">월</th>
          <th scope="col-1">화</th>
          <th scope="col-2">수</th>
          <th scope="col-3">목</th>
          <th scope="col-4">금</th>
        </tr>
      </thead>
      <tbody id="tt-pm">
        <tr class="row-0">
          <th scope="row-0">1교시</th>
          <td class="0"></td>
          <td class="1"></td>
          <td class="2"></td>
          <td class="3"></td>
          <td class="4"></td>
        </tr>
        <tr class="row-1">
          <th scope="row">2교시</th>
          <td class="5"></td>
          <td class="6"></td>
          <td class="7"></td>
          <td class="8"></td>
          <td class="9"></td>
        </tr>
        <tr class="row-2">
          <th scope="row">3교시</th>
          <td class="10"></td>
          <td class="11"></td>
          <td class="12"></td>
          <td class="13"></td>
          <td class="14"></td>
        </tr>
        <tr class="row-3">
          <th scope="row">4교시</th>
          <td class="15"></td>
          <td class="16"></td>
          <td class="17"></td>
          <td class="18"></td>
          <td class="19"></td>
        </tr>
        <tr class="row-4">
          <th scope="row">5교시</th>
          <td class="20"></td>
          <td class="21"></td>
          <td class="22"></td>
          <td class="23"></td>
          <td class="24"></td>
        </tr>
        <tr class="row-5">
          <th scope="row">6교시</th>
          <td class="25"></td>
          <td class="26"></td>
          <td class="27"></td>
          <td class="28"></td>
          <td class="29"></td>
        </tr>
      </tbody>
  </table>
  <button class="timetable-select">선택하기</button>
  <!-- // 시간표 3 -->
 
</div>


<script>
  $(document).ready(function(){

    var tt_matrix_median=[<%=tt_matrix_median.matrix%>];
    for (idx in tt_matrix_median){
      if(tt_matrix_median[idx]==1){
        $("#tt-median > tr > ."+idx).css("background-color","#ef5757");
      }
    }

    var tt_matrix_am=[<%=tt_matrix_am.matrix%>];
    for (idx in tt_matrix_am){
      if(tt_matrix_am[idx]==1){
        $("#tt-am > tr > ."+idx).css("background-color","#ef5757");
      }
    }

    var tt_matrix_pm=[<%=tt_matrix_pm.matrix%>];
    for (idx in tt_matrix_pm){
      if(tt_matrix_pm[idx]==1){
        $("#tt-pm > tr > ."+idx).css("background-color","#ef5757");
      }
    }

  });
</script>